@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar_Nav2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
}

.nav_Nav2 {
    width: 100%;
    height: auto;
    margin-left: -1%;
}

.isOpen_Nav2 {
    display: flex;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.image-navbar_Nav2 {
    text-decoration: none;
    border-radius: 50%;
    filter: brightness(105%);
    margin-left: 5%;
    font-weight: bold;
    font-size: 20px;
    color: black;
    cursor: pointer;
    /* animation: hueRotate 20s alternate infinite; */
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
        /* Màu bắt đầu từ màu gốc */
    }

    100% {
        filter: hue-rotate(270deg);
        /* Chuyển đến một màu tối hơn */
    }
}

.ml-auto_Nav2 {
    width: 50%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 13%;
}

.ml-auto_Nav2 img {
    max-width: 30%;
    height: auto;
    margin-right: 1px;
}

.nav-item-hover_Nav2:hover {
    filter: brightness(10%);
}

.nav-item_Nav2 {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(116, 112, 112);
    width: 10%;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.cart-div_Nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    font-size: 16px;
}

.image-div_Nav2 {
    white-space: nowrap;
}

.font-awe_Nav2 {
    color: rgb(26, 25, 25);
}

/* Dropdown styles for small screens */
@media (max-width: 768px) {
    .image-navbar_Nav2 {
        display: none;
    }

    .ml-auto_Nav2 {
        font-size: 13px;
        width: 100%;
        height: auto;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-right: 15%;
    }

    .nav-item_Nav2 {
        width: auto;
    }

    a {
        width: 100%;
    }

    #navbar {
        background-color: aliceblue;
    }

    .cart-div_Nav2 {
        margin-left: -10%;
        margin-right: 10%;
        font-size: 15px;
        margin-top: 2px;
    }
}

// In your CSS file
.image_Nav2 {
    display: flex;
    align-items: center;
}

.image_Nav2 img {
    max-width: 40px;
    height: auto;
    margin-right: 10px;
}