.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    /* Kích thước modal */
    max-width: 90%;
    /* Đảm bảo modal không vượt quá chiều rộng màn hình */
    z-index: 1300;
    /* Đảm bảo modal nằm trên các thành phần khác */
}

h2 {
    margin: 0 0 16px;
    /* Giảm khoảng cách giữa tiêu đề và nội dung */
    font-size: 24px;
    font-weight: 600;
    color: #333;
    /* Màu tiêu đề */
}

.modal-content p {
    margin: 10px 0;
    /* Giảm khoảng cách cho đoạn văn */
    font-size: 18px;
    color: #666;
    /* Màu cho giá vé */
}

.modal-content button {
    margin-right: 8px;
    /* Khoảng cách giữa các nút */
}