.select-movie-seat {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    /* Điều chỉnh số cột nếu cần */
    gap: 10px;
    margin-top: 20px;
}

.seat {
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}

.seat-occupied {
    background-color: lightcoral;
    cursor: not-allowed;
}

.seat-available {
    background-color: lightgreen;
}

.row-label {
    grid-column: 1 / -1;
    /* Dòng này sẽ kéo dài toàn bộ hàng */
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    margin-top: 20px;
}

/* RenderSeatSelectMovie.css */
.select-movie-seat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.seat-row-wrapper {
    display: flex;
    align-items: center;
}

.seat-row {
    display: flex;
    align-items: center;
}

.row-label-horizontal {
    margin-right: 8px;
    /* Khoảng cách giữa tên dãy và ghế */
    font-weight: bold;
}

.seat {
    margin: 4px;
}

.seat-occupied {
    background-color: red;
    cursor: not-allowed;
}

.seat-available {
    /* background-color: green; */
    cursor: pointer;
}



.seat-selected {
    background-color: #4CAF50;
    /* Màu xanh đậm hơn */
    color: white;
    /* Màu chữ trắng */
}